<p id="notice"><%= notice %></p>

<h1>Component Murs</h1>

<table>
  <thead>
    <tr>
      <th>Mur</th>
      <th>Nom</th>
      <th>Conductivitat</th>
      <th>Gruix</th>
      <th>Resistencia termica</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @component_murs.each do |component_mur| %>
      <tr>
        <td><%= component_mur.mur_id %></td>
        <td><%= component_mur.nom %></td>
        <td><%= component_mur.conductivitat %></td>
        <td><%= component_mur.gruix %></td>
        <td><%= component_mur.resistencia_termica %></td>
        <td><%= link_to 'Show', component_mur %></td>
        <td><%= link_to 'Edit', edit_component_mur_path(component_mur) %></td>
        <td><%= link_to 'Destroy', component_mur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component Mur', new_component_mur_path %>
