<p id="notice"><%= notice %></p>

<p>
  <strong>Mur:</strong>
  <%= @component_mur.mur_id %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @component_mur.nom %>
</p>

<p>
  <strong>Conductivitat:</strong>
  <%= @component_mur.conductivitat %>
</p>

<p>
  <strong>Gruix:</strong>
  <%= @component_mur.gruix %>
</p>

<p>
  <strong>Resistencia termica:</strong>
  <%= @component_mur.resistencia_termica %>
</p>

<%= link_to 'Edit', edit_component_mur_path(@component_mur) %> |
<%= link_to 'Back', component_murs_path %>
