<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @edifici.user_id %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @edifici.nom %>
</p>

<%= link_to 'Edit', edit_edifici_path(@edifici) %> |
<%= link_to 'Back', edificis_path %>
