<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @entitat.edifici_id %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @entitat.nom %>
</p>

<p>
  <strong>Descripcio:</strong>
  <%= @entitat.descripcio %>
</p>

<p>
  <strong>Superficie:</strong>
  <%= @entitat.superficie %>
</p>

<p>
  <strong>Destinacio:</strong>
  <%= @entitat.destinacio %>
</p>

<p>
  <strong>Quota:</strong>
  <%= @entitat.quota %>
</p>

<p>
  <strong>Nom propietari:</strong>
  <%= @entitat.nom_propietari %>
</p>

<p>
  <strong>Cognoms propietari:</strong>
  <%= @entitat.cognoms_propietari %>
</p>

<p>
  <strong>Email propietari:</strong>
  <%= @entitat.email_propietari %>
</p>

<p>
  <strong>Telefon propietari:</strong>
  <%= @entitat.telefon_propietari %>
</p>

<p>
  <strong>Adreca propietari:</strong>
  <%= @entitat.adreca_propietari %>
</p>

<p>
  <strong>Codi postal propietari:</strong>
  <%= @entitat.codi_postal_propietari %>
</p>

<p>
  <strong>Municipi propietari:</strong>
  <%= @entitat.municipi_propietari %>
</p>

<%= link_to 'Edit', edit_entitat_path(@entitat) %> |
<%= link_to 'Back', entitats_path %>
