<%= simple_form_for(@identificacio) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="identificacio-title">
      <span class="title"><%= t('.dades_edifici') %></span>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="medium-2 cell">
        <%= f.input :tipus_via, collection: ['Avinguda', 'Carrer', 'Carretera', 'Passeig', 'Passatge', 'Plaça', 'Rambla', 'Ronda'] %>
      </div>
      <div class="medium-6 cell">
        <%= f.input :nom_via %>
      </div>
      <div class="medium-2 cell">
        <%= f.input :numero_via %>
      </div>
      <div class="medium-2 cell">
        <%= f.input :bloc %>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-2 cell">
        <%= f.input :codi_postal %>
      </div>
      <div class="medium-6 cell">
        <%= f.input :poblacio %>
      </div>
      <div class="medium-4 cell">
        <%= f.input :provincia, collection: ['Barcelona', 'Girona', 'Lleida', 'Tarragona'] %>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-2 cell">
        <%= f.input :any_construccio %>
      </div>
      <div class="medium-2 cell">
        <%= f.input :superficie_util %>
      </div>
      <div class="medium-3 cell">
        <%= f.input :altitud_municipi %>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="identificacio-title">
      <span class="title"><%= t('.dades_propietari') %></span>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-4 cell">
        <%= f.input :nom_propietari %>
      </div>
      <div class="medium-8 cell">
        <%= f.input :cognoms_propietari %>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-4 cell">
        <%= f.input :tipus_document_identitat_propietari, :collection => [[t('.dni'), 'DNI'], [t('.nie'), 'NIE'], [t('.passaport'), 'Passaport'], [t('.nif'), 'NIF']] %>
      </div>
      <div class="medium-4 cell end">
        <%= f.input :numero_document_identitat_propietari %>
      </div>
    </div>
    
    <div class="grid-x grid-margin-x">
      <div class="medium-4 cell">
        <%= f.input :email_propietari %>
      </div>
      <div class="medium-4 cell">
        <%= f.input :telefon_propietari %>
      </div>
      
    </div>
    
    <div class="grid-x grid-margin-x">
      <div class="medium-4 cell">
        <%= f.input :adreca_propietari %>
      </div>
      <div class="medium-4 cell">
        <%= f.input :codi_postal_propietari %>
      </div>
      <div class="medium-4 cell">
        <%= f.input :municipi_propietari %>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <%= f.input :imatge_edifici, as: :file %>
        <% if @edifici.identificacio.imatge_edifici.attached? %>
          <%= image_tag @edifici.identificacio.imatge_edifici.url(:medium) %>
        <% end %>
      </div>
    </div>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.guardar'), :class => 'button button-right' %>
  </div>
<% end %>
