<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @identificacio.edifici_id %>
</p>

<p>
  <strong>Tipus via:</strong>
  <%= @identificacio.tipus_via %>
</p>

<p>
  <strong>Nom via:</strong>
  <%= @identificacio.nom_via %>
</p>

<p>
  <strong>Numero via:</strong>
  <%= @identificacio.numero_via %>
</p>

<p>
  <strong>Bloc:</strong>
  <%= @identificacio.bloc %>
</p>

<p>
  <strong>Codi postal:</strong>
  <%= @identificacio.codi_postal %>
</p>

<p>
  <strong>Poblacio:</strong>
  <%= @identificacio.poblacio %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @identificacio.provincia %>
</p>

<p>
  <strong>Any construccio:</strong>
  <%= @identificacio.any_construccio %>
</p>

<p>
  <strong>Superficie util:</strong>
  <%= @identificacio.superficie_util %>
</p>

<p>
  <strong>Nom propietari:</strong>
  <%= @identificacio.nom_propietari %>
</p>

<p>
  <strong>Cognoms propietari:</strong>
  <%= @identificacio.cognoms_propietari %>
</p>

<p>
  <strong>Tipus document identitat propietari:</strong>
  <%= @identificacio.tipus_document_identitat_propietari %>
</p>

<p>
  <strong>Numero document identitat propietari:</strong>
  <%= @identificacio.numero_document_identitat_propietari %>
</p>

<p>
  <strong>Email propietari:</strong>
  <%= @identificacio.email_propietari %>
</p>

<p>
  <strong>Telefon propietari:</strong>
  <%= @identificacio.telefon_propietari %>
</p>

<p>
  <strong>Adreca propietari:</strong>
  <%= @identificacio.adreca_propietari %>
</p>

<p>
  <strong>Codi postal propietari:</strong>
  <%= @identificacio.codi_postal_propietari %>
</p>

<p>
  <strong>Municipi propietari:</strong>
  <%= @identificacio.municipi_propietari %>
</p>

<%= link_to 'Edit', edit_identificacio_path(@identificacio) %> |
<%= link_to 'Back', identificacions_path %>
